.header-block {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0px 18px;
 
  border-bottom: 1px solid #ECECF0;

  @media (max-width: 776px) {
    display: block;
  }

  @include frame-container;

  &__logotype {
    transition: box-shadow .3s ease-in-out;
  }

  &__purpose-text  {
    font-size: 15px;
    color: $trinity-color;
  }
}