.footer-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;

  border-top: 1px solid #ECECF0;

  @include frame-container;

  &__copyright {
    color: $trinity-color;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .footer-block {
    // justify-content: center;
    flex-direction: column;
    // display: block;
    // margin: 0 auto;
    margin-top: 50px;

    &__copyright {
      margin-top: 50px;
      text-align: center;
    }

    &__social-sites-list {
      margin-top: 50px;
      justify-content: center;
    }
  }
}