.reload-page-component {
  display: flex;
  align-items: center;

  &__btn {
    @include  button(#ffffff, $cosmos-color);
    margin-right: 26px;
  }

  &__date-span {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 22px;
    color: $cosmos-color;

    text-shadow: 1px 6px 4px #7771aa;
  }
}