@mixin title {
  font-size: 90px;
  font-weight: bold;
  font-family: 'Lato', 'Arial', sans-serif;
  color: $main-color;
}

@mixin subtitle {
  line-height: 38px;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Lato', 'Arial', sans-serif;
  color: $main-color;
}

@mixin body-text {
  line-height: 22px;
  font-size: 15px;
  font-family: 'Lato', 'Arial', sans-serif;
  color: $secondary-color;
}

@mixin clearly-text {
  line-height: 29px;
  font-size: 22px;
  font-family: 'Lato', 'Arial', sans-serif;
  color: $main-color;
}

@mixin button($color, $bg-color) {
    color: $color;
    font-size: 15px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: bold;

    padding: 19px 28px;

    border-radius: 6px;
    border: none;
    background-color: $bg-color;
    cursor: pointer;

    transition: box-shadow .3s ease-in-out;

    &:hover, &:focus {
      outline: none;
      box-shadow: 0px 0px 0px 3px currentColor,
      0px 0px 0px 8px $bg-color;
    }

    &:disabled {
      cursor: not-allowed;
    }

    @media (max-width: 340px) {
      padding: 14px 20px;
    }
}

@mixin frame-container {
  padding-left: 50px;
  padding-right: 50px;

  @media (max-width: 576px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: 1520px) {
    padding-left: 18%;
    padding-right: 18%;
  }
}

@mixin visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}